<div class="center">
	<div class="mylisttable">
		<p>
  			<strong>Subject:</strong>
  			<%= @article.subject %>ahhasa
		</p>
 
		<p>
 			<strong>Target:</strong>
  			<%= @article.target %>
		</p>
	</div>
</div>