<div class="center">
	<div class="mylisttable">
		<p>
  			<strong style="color: red;">Subject:</strong>
  			<%= @article.subject %>
		</p>
	</div></br>
	
 	<div class="mylisttable">
		<p id="Done">
 			<strong style="color: red;">Target:</strong>
  			<%= @article.target %>
		</p>
	</div></br>
	<center><button type="button" class="btn btn-success" onclick="myFunction()">Done</button></center>
</div>