/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);

h1{
	font-family: 'Advent Pro', sans-serif;
	font-size: 100px;
}

textarea { resize: none; }

.center {
    margin: auto;
    width: 40%; 
    padding: 50px;
}

.mylisttable{
padding-left: 15px;
padding-right: 15px;
padding-top: 18px;
padding-bottom: 10px;
border-radius: 8px;
background-color: #C3F9B2;
box-shadow: 3px 3px 2px #;
opacity: 0.8;
}

.tab{
	
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: #96E29D;
	margin: auto;
    width: 30%; 
    opacity: 0.9;
    position: ;
}

body{
	background-color: #F0FAFC;
}

tr, th{

    border-bottom: 1.2px solid #1dd;
}

input[placeholder], textarea[placeholder] {
	opacity: 0.9;
	text-align: center;
}