<!DOCTYPE html>
<html>
<head>
  <title>Mylist</title>
  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="tab">



		<center>
		&larr;<a href="/" class="btn btn-default btn-xs">Home Page</a>
		<a href="/articles/new" class="btn btn-default btn-xs">New Target</a>
		<a href="/articles" class="btn btn-default btn-xs">My List</a>
		<a href="/signup" class="btn btn-default btn-xs">Sign Up</a>&rarr;
		</center>
	</div>

	<center><h1 style="color: orange;">MyList</h1></center>

<%= yield %>


<center><p></p></center>
</body>
</html>
