<!DOCTYPE html>
<html>
<head>
  <title>Mylist</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="tab">
<center><a href="/articles/new" class="btn btn-default">New Target</a>
<a href="/articles" class="btn btn-default">My Target List</a>
<a href="/" class="btn btn-default">Home Page</a></center>
</div>
<div>
	<center><h1 style="color: orange;">MyList</h1></center>
</div>
<%= yield %>


<center><p>0.3.4</p></center>
</body>
</html>
